

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rally</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get started by making an account and adding your first appointment!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44374/User/Create">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already Have an account?</h2>
        <p>If you already have an account you can click here.</p>
        <p><a class="btn btn-default" href="/user/index">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Info</h2>
        <p>You can easily add an appointment!</p>
        <p><a class="btn btn-default" href="/Appointment/Create">Make Appointment &raquo;</a></p>
    </div>
</div>
